@page
@model BlazorTrainingGD_238276.Pages.modul8.IndexModel
@{
}

<button onclick="test()">click</button>
<button onclick="hannes()">click</button>
<script>
    function test()
    {
        alert("Hallo");
    }
</script>