@page "/repeater"
@using Models
@inject NorthwindContext db
<h3>UseRepeater</h3>
<table class="table">
    <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Ansprechpartner</th>
        </tr>
    </thead>
    <tbody>
        <RepeaterPPEDV ModelType="Customer" Context="Item" SelectMethod="GetProducts">
            <ItemTemplate>

                <tr>
                    <td>@Item.CustomerId</td>
                    <td>@Item.CompanyName</td>
                    <td>@Item.ContactName</td>
                </tr>

            </ItemTemplate>
            <EmptydataTemplate>
                <tr>
                    <td colspan="3">keine Daten</td>
                </tr>

            </EmptydataTemplate>
        </RepeaterPPEDV>
    </tbody>
</table>
@code {
    List<Customer> GetProducts()
    {
        return db.Customers.ToList();
    }
}
