@page "/todoV"
@inject IHttpClientFactory client
<h3>ToDoView</h3>

<div class="row">
    <div class="col">

        <div class="row">
            <div class="col">
                <ul class="list-group list-group-flush">
                    @if (Liste == null)
                    {
                        <li class="list-group-item">
                            keine Daten

                        </li>
                    }
                    else
                    {
                       
                        <Virtualize Items="Liste.todos" Context="item" OverscanCount="5" ItemSize="40">
                            <ItemContent>
                                <li class="list-group-item">
                                    @item.todo

                                </li>

                            </ItemContent>
                            <Placeholder>
                                <li class="list-group-item">
                                    keine Daten
                                </li>

                            </Placeholder>
                        </Virtualize>
                    }
                </ul>

            </div>
        </div>
    </div>
</div>
@code {
    string Eingabe = "";
    TodoModel Liste;
    protected override async Task OnInitializedAsync()
    {
        using (var http = client.CreateClient())
        {
            Liste = await http.GetFromJsonAsync<TodoModel>("https://dummyjson.com/todos?limit=150");
        }

    }
}
