@page "/modal"
<h3>UseModal</h3>
<button type="button" class="btn btn-primary" @onclick="open">
    Launch demo modal
</button>
<ModalPPEDV @ref="modal1" Titel="Hallo Welt" OnSave="save">
    <input class="form-control" @bind="Eingabe" />
    <p>Text</p>
</ModalPPEDV>
@code {
    string Eingabe;
    ModalPPEDV modal1;
    void open()
    {
        modal1.Show();
    }
    void save()
    {
        Eingabe = "";
    }
}
