@page "/tel"
<h3>UseTelefon</h3>
<Telefonnummer @bind-Nummer="Tel">

</Telefonnummer>
<button @onclick="click">clicl</button>
@Tel

@code {
    int Tel = 3434;
    void click()
    {
        
    }
}
